.rTime {
    max-width: 3em;
    text-align: right;
}

label {
    display: inline-block;
    width: 160px;
    text-align: left;
}
​ div.block {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}
div.block label {
    text-align: left;
}
div.block div.input {
    text-align: right;
}

body {
	background-color: #050d3f;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
	width:100%;
}

.page__background{
	background-color: #050d3f;
}

.page{
		color:white;
}

.text-input--material{
	color:#fedc01;
	font-weight:bold;
}

.button{
	margin-top: 20px;
	background-color:#fedc01;
	color: black;
}
